html,
body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    background-color: #fff;
    font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.cursor {
    cursor: pointer;
}

.panel-nopadding {
    padding: 0;
}

.find-file-editor-header {
    line-height: 34px;
}

.find-file-editor {
    font-size: 14px!important;
    line-height: 26px!important;
    font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif!important;
}

.bottom-borderd {
    border-bottom: 1px #ddd solid;
}

.btn-info {
    background-color: #2abf9e;
}

.btn-info:hover {
    background-color: #2abf9e;
}

.navbar-inverse {
    background-color: #25282D;
}

.find-index-nav-button {
    margin-right: 80px;
}

.find-navbar-spaceholder {
    height: 50px;
}

.row-padding {
    padding-top: 20px;
}

.find-container {
    padding-left: 0;
    padding-right: 0;
}

.find-sidebar {
    background-color: #33373b;
    color: #7c858e;
    -moz-box-shadow: -5px 0 5px #2b2f33 inset; /* For Firefox3.6+ */
    -webkit-box-shadow: -5px 0 5px #2b2f33 inset; /* For Chrome5+, Safari5+ */
    box-shadow: -5px 0 5px #2b2f33 inset; /* For Latest Opera */
    height: 100%;
    overflow-y: hidden;
}

.find-sidebar a {
    color: inherit;
}

.find-project-title {
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px #2b2f33 solid;
}

.find-sidebar .nav-pills > li > a {
    font-size: 16px;
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.find-sidebar .nav-pills > li.active > a, .find-sidebar .nav-pills > li.active > a:focus, .find-sidebar .nav-pills > li.active > a:hover {
    background-color: #2b2f33;
    color: #7c858e;
}

.find-sidebar .nav > li > a:focus, .find-sidebar .nav > li > a:hover {
    background-color: #2f3338;
    color: #beccd9;
}

.find-sidebar .nav-divider {
    background-color: #2b2f33;
}

.find-sidebar .badge, .find-sidebar .nav-pills > .active > a > .badge {
    background-color: #7c858e;
    color: #2b2f33;
}

.find-sub-sidebar {
    height: 100%;
    color: #727a82;
    background-color: #eee;
    overflow-y: hidden;
}

.find-project-sub-title {
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #2abf9e;
    margin-left: -15px;
    margin-right: -15px;
    color: #1c8069;
    margin-bottom: 10px;
}

.find-sub-sidebar .dropdown-menu {
    width: 100%;
}

.find-sub-sidebar .nav-pills > li > a {
    color: #999;
}

.find-sub-sidebar .nav-pills > li.active > a, .find-sub-sidebar .nav-pills > li.active > a:focus, .find-sub-sidebar .nav-pills > li.active > a:hover {
    background-color: #fff;
    color: #666;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 15px;
    width: 100%;
}

.find-sub-sidebar .nav > li > a:focus, .find-sub-sidebar .nav > li > a:hover {
    color: #666;
}

.find-main {
    overflow-y: hidden;
    height: 100%;
    background-color: #FFF;
}

.find-repo-table th {
    font-size: 16px;
}

.find-repo-table th a {
    font-size: 12px;
}

.find-repo-table th small {
    font-size: 12px;
    font-weight: normal;
    color: #aaa;
}

.find-project-name {
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
}

.find-project-index-button {
    margin: 50px 0 20px 0;
}

.find-project-index-ssh {
    width: 70%;
    margin: 0 auto;
}

.find-project-index-meta {
    padding: 20px 0;
    border-bottom: 1px #ddd solid;
}

.find-project-readme {
    padding: 0 20px;
}

.find-project-main-title {
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    font-size: 16px;
    background-color: #43484d;
    margin-left: -15px;
    margin-right: -15px;
    color: #beccd9;
    margin-bottom: 10px;
}

.find-project-main-title a {
    color: #beccd9;
    font-weight: normal;
}

.find-project-main-title .breadcrumb {
    padding: 0;
    background-color: inherit;
}

.find-project-merge-title {
    font-weight: bold;
    font-size: 16px;
    color: #beccd9;
}

.find-notice-time {
    color: #aaa;
}

.find-tree-commit, .find-tree-updatetime {
    color: #888;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
}

.find-commit hr {
    border-color: #ccc;
}

.find-borderd-list, .find-branch-list {
    list-style-type: none;
    text-indent: 0;
    padding-left: 0;
}

.find-borderd-list li, .find-branch-list li {
    padding: 5px;
    border-bottom: 1px #ccc solid;
}

.find-borderd-list li:last-child, .find-branch-list li:last-child {
    border-bottom: none;
}

.find-commit-row .find-commit-count {
    color: #999;
}

.find-commit-message, .find-commit-user {
    padding: 5px;
    color: #999;
}

.find-commit-message strong a {
    color: #666;
}

.find-commit-browse a {
    color: #999;
}

.fin-branch-name-link:hover {
    text-decoration: none;
}

.find-branch-name .label {
    font-weight: normal;
}

.find-branch-commit {
    padding-top: 10px;
    padding-bottom: 10px;
}

.find-branch-commit-msg {
    color: #999
}

.find-project-main-compare-title {
    font-weight: normal;
    font-size: inherit;
    color: inherit;
}

.find-project-main-compare-title a {
    color: #fff;
}

.files-meta {
    padding: 10px 0;
}

.diff-file {
    border: 1px solid #e5e5e5;
    margin-bottom: 1em
}

.diff-file .diff-header {
    position: relative;
    background: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px;
    color: #555;
    z-index: 10
}

.diff-file .diff-header > span {
    font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    word-break: break-all;
    margin-right: 200px;
    display: block
}

.diff-file .diff-header > span .file-mode {
    margin-left: 10px;
    color: #777
}

.diff-file .diff-header .diff-btn-group {
    float: right;
    position: absolute;
    top: 5px;
    right: 15px
}

.diff-file .diff-header .diff-btn-group .btn, .diff-file .diff-header .diff-btn-group .commits-compare-switch {
    padding: 0px 10px;
    font-size: 13px;
    line-height: 28px
}

.diff-file .diff-header .commit-short-id {
    font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    font-size: smaller
}

.diff-file .diff-content {
    overflow: auto;
    overflow-y: hidden;
    background: #FFF;
    color: #333;
    font-size: 13px
}

.diff-file .diff-content .old span.idiff {
    background-color: #f8cbcb
}

.diff-file .diff-content .new span.idiff {
    background-color: #a6f3a6
}

.diff-file .diff-content .unfold {
    cursor: pointer
}

.diff-file .diff-content .file-mode-changed {
    padding: 10px;
    color: #777
}

.diff-file .diff-content .suppressed-container {
    padding: 11px 14px;
    text-align: center
}

.diff-file .diff-content .suppressed-container .show-suppressed-diff {
    font-size: 110%;
    font-weight: bold
}

.diff-file .diff-content table {
    width: 100%;
    font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    border: none;
    margin: 0px;
    padding: 0px
}

.diff-file .diff-content table td {
    line-height: 1.5;
    font-size: 13px
}

.diff-file .diff-content tr.line_holder.parallel .old_line, .diff-file .diff-content tr.line_holder.parallel .new_line, .diff-file .diff-content tr.line_holder.parallel .diff_line {
    min-width: 50px
}

.diff-file .diff-content tr.line_holder.parallel td.line_content.parallel {
    width: 50%
}

.diff-file .diff-content .old_line, .diff-file .diff-content .new_line, .diff-file .diff-content .diff_line {
    margin: 0px;
    padding: 0px;
    border: none;
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.3);
    padding: 0px 5px;
    border-right: 1px solid #e5e5e5;
    text-align: right;
    min-width: 35px;
    max-width: 50px;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.diff-file .diff-content .old_line a, .diff-file .diff-content .new_line a, .diff-file .diff-content .diff_line a {
    float: left;
    width: 35px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3)
}

.diff-file .diff-content .old_line a:hover, .diff-file .diff-content .new_line a:hover, .diff-file .diff-content .diff_line a:hover {
    text-decoration: underline
}

.diff-file .diff-content .old_line.new, .diff-file .diff-content .new_line.new, .diff-file .diff-content .diff_line.new {
    background: #CFD
}

.diff-file .diff-content .old_line.old, .diff-file .diff-content .new_line.old, .diff-file .diff-content .diff_line.old {
    background: #FDD
}

.diff-file .diff-content .diff_line {
    padding: 0
}

.diff-file .diff-content .line_holder.old .old_line, .diff-file .diff-content .line_holder.old .new_line {
    background: #ffdddd;
    border-color: #f1c0c0
}

.diff-file .diff-content .line_holder.new .old_line, .diff-file .diff-content .line_holder.new .new_line {
    background: #dbffdb;
    border-color: #c1e9c1
}

.diff-file .diff-content .line_content {
    display: block;
    margin: 0px;
    padding: 0px 0.5em;
    border: none
}

.diff-file .diff-content .line_content.new {
    background: #eaffea
}

.diff-file .diff-content .line_content.old {
    background: #ffecec
}

.diff-file .diff-content .line_content.matched {
    color: #e5e5e5;
    background: #fafafa
}

.diff-file .diff-content .line_content.parallel {
    display: table-cell
}

.diff-file .image {
    background: #ddd;
    text-align: center;
    padding: 30px
}

.diff-file .image .wrap {
    display: inline-block
}

.diff-file .image .frame {
    display: inline-block;
    background-color: #fff;
    line-height: 0
}

.diff-file .image .frame img {
    border: 1px solid #FFF;
    background: url(/assets/img/trans_bg.gif);
    max-width: 100%
}

.diff-file .image .frame.deleted {
    border: 1px solid #ff7777
}

.diff-file .image .frame.added {
    border: 1px solid #63c363
}

.diff-file .image .image-info {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: grey
}

.diff-file .image .view.swipe {
    position: relative
}

.diff-file .image .view.swipe .swipe-frame {
    display: block;
    margin: auto;
    position: relative
}

.diff-file .image .view.swipe .swipe-wrap {
    overflow: hidden;
    border-left: 1px solid #999;
    position: absolute;
    display: block;
    top: 13px;
    right: 7px
}

.diff-file .image .view.swipe .frame {
    top: 0;
    right: 0;
    position: absolute
}

.diff-file .image .view.swipe .frame.deleted {
    margin: 0;
    display: block;
    top: 13px;
    right: 7px
}

.diff-file .image .view.swipe .swipe-bar {
    display: block;
    height: 100%;
    width: 15px;
    z-index: 100;
    position: absolute;
    cursor: pointer
}

.diff-file .image .view.swipe .swipe-bar:hover .top-handle {
    background-position: -15px 3px
}

.diff-file .image .view.swipe .swipe-bar:hover .bottom-handle {
    background-position: -15px -11px
}

.diff-file .image .view.swipe .swipe-bar .top-handle {
    display: block;
    height: 14px;
    width: 15px;
    position: absolute;
    top: 0px;
    background: url(/assets/swipemode_sprites-8a2c5a313d4f08d33576478c1d912f8d.gif) 0 3px no-repeat
}

.diff-file .image .view.swipe .swipe-bar .bottom-handle {
    display: block;
    height: 14px;
    width: 15px;
    position: absolute;
    bottom: 0px;
    background: url(/assets/swipemode_sprites-8a2c5a313d4f08d33576478c1d912f8d.gif) 0 -11px no-repeat
}

.diff-file .image .view.onion-skin .onion-skin-frame {
    display: block;
    margin: auto;
    position: relative
}

.diff-file .image .view.onion-skin .frame.added, .diff-file .image .view.onion-skin .frame.deleted {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px
}

.diff-file .image .view.onion-skin .controls {
    display: block;
    height: 14px;
    width: 300px;
    z-index: 100;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -150px
}

.diff-file .image .view.onion-skin .controls .drag-track {
    display: block;
    position: absolute;
    left: 12px;
    height: 10px;
    width: 276px;
    background: url(/assets/onion_skin_sprites-cff636e6d7c38099f5b8b68f39fe4505.gif) -4px -20px repeat-x
}

.diff-file .image .view.onion-skin .controls .dragger {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 14px;
    width: 14px;
    background: url(/assets/onion_skin_sprites-cff636e6d7c38099f5b8b68f39fe4505.gif) 0px -34px repeat-x;
    cursor: pointer
}

.diff-file .image .view.onion-skin .controls .transparent {
    display: block;
    position: absolute;
    top: 2px;
    right: 0px;
    height: 10px;
    width: 10px;
    background: url(/assets/onion_skin_sprites-cff636e6d7c38099f5b8b68f39fe4505.gif) -2px 0px no-repeat
}

.diff-file .image .view.onion-skin .controls .opaque {
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
    height: 10px;
    width: 10px;
    background: url(/assets/onion_skin_sprites-cff636e6d7c38099f5b8b68f39fe4505.gif) -2px -10px no-repeat
}

.diff-file .view-modes {
    padding: 10px;
    text-align: center;
    background: #EEE
}

.diff-file .view-modes ul, .diff-file .view-modes li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block
}

.diff-file .view-modes li {
    color: grey;
    border-left: 1px solid #c1c1c1;
    padding: 0 12px 0 16px;
    cursor: pointer
}

.diff-file .view-modes li:first-child {
    border-left: none
}

.diff-file .view-modes li:hover {
    text-decoration: underline
}

.diff-file .view-modes li.active {
    cursor: default;
    color: #333
}

.diff-file .view-modes li.active:hover {
    text-decoration: none
}

.diff-file .view-modes li.disabled {
    display: none
}

.file-content .diff-file {
    margin: 0;
    border: none
}

.diff-file .diff-content tr.line_holder:hover > td.line_content {
    background: #fffaf1 !important;
    border-color: #ffe8be !important
}

.diff-file .diff-content tr.line_holder:hover > td.new_line, .diff-file .diff-content tr.line_holder:hover > td.old_line {
    background: #fff3dd !important;
    border-color: #ffe8be !important
}

.diff-file .diff-content tr.line_holder:hover > td .line_note_link {
    opacity: 1.0;
    filter: alpha(opacity=100)
}

.diff-file .new_note, .discussion .new_note {
    margin: 0;
    border: none
}

.find-merge-condition-form {
    padding: 10px;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    background-color: #fff;
}

.find-merge-condition-content .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.find-project-merge-detail-title {
    margin-left: 20px;
}

.find-project-merge-detail-title small {
    color: #aaa;
}

.find-project-merge-detail hr {
    border-top: 1px #ddd solid;
}

.find-project-merge-tab .tab-pane {
    padding: 20px 0;
}

.find-commit-timeline {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px #ddd solid;
    position: relative;
}

.find-commit-timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    margin-left: 29px;
    z-index: 0;
}

.find-commit-timeline-entry-inner:before, .find-commit-timeline-entry-inner:after, .find-commit-timeline:after {
    display: table;
    content: " ";
}

.find-commit-timeline-entry {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30px;
    clear: both;
}

.find-commit-timeline-entry-inner {
    position: relative;
    margin-left: 20px;
    z-index: 1;
}

.timeline-icon {
    float: left;
    margin-left: -39px;
    overflow: hidden;
}

.system .timeline-icon {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #eee;
    float: left;
    margin-left: -27px;
    margin-top: 4px;
}

.timeline-content {
    position: relative;
    background: whitesmoke;
    padding: 10px 15px;
    margin-left: 25px;
}

.timeline-content:after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent whitesmoke transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.system .timeline-content {
    padding: 0 15px;
    background: transparent;
}

.system .timeline-content:after {
    border: none;
}

.timeline-content-content {
    padding: 10px 0;
}

.timeline-content-header-time {
    color: #666;
}

.timeline-content-list {
    list-style-type: disc;
}

.timeline-content-list li {
    line-height: 26px;
    border-bottom: 1px #ddd dashed;
}

.timeline-content-list li:last-child {
    border-bottom: none;
}

.find-commit-write {
    clear: both;
}

.find-commit-write form {
    margin-top: 15px;
    margin-left: 75px;
}

.find-commit-write-avatar {
    margin-left: 10px;
}

.merge-assignee {
    margin-left: 35px;
}

.merge-assignee h4 {
    margin-top: 0;
}

.merge-assignee h5 {
    margin-bottom: 0;
}

.merge-control {
    padding: 5px 0;
}

.merge-control-item {
    float: left;
    line-height: 40px;
    margin-right: 20px;
}

.merge-control-comment {
    color: #999;
}

.find-project-setting {
    padding: 20px;
}

.find-project-setting-visibility {
    margin-top: 0;
}

form .form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: whitesmoke;
    border-top: 1px solid #e5e5e5;
}

.panel-body form .form-actions {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.find-project-setting-tips {
    padding-top: 15px;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    background-color: #666;
    color: #fff;
}

.find-manage-condition-item {
    line-height: 34px;
}

.find-manage-condition-item .close {
    font-size: 30px;
}

.account-notice-list {
    list-style: none;
    padding-left: 10px;
}

.account-notice-list li {
    border-bottom: 1px #ddd solid;
    padding: 10px;
}

.account-notice-list li:last-child {
    border-bottom: none;
}

.account-notice-meta-time {
    color: #aaa;
}

.account-notice-content {
    color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.account-notice-content-list {
    list-style-type: disc;
}

.account-notice-content-list li {
    padding: 3px;
    border-bottom: 1px #ddd dashed;
}

.account-notice-content-list li:last-child {
    border-bottom: none;
}

.find-notice-checkbox {
    margin-left: 10px;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px #ddd solid;
}

.find-group {
    padding-left: 25px;
}

.find-group-container {
    padding: 10px 0 25px 0;
}

.find-group-meta {
    margin-left: 120px;
}