.markdown-content {
    font-size:14px;
    line-height: 27px;
}

.markdown-content code {
    color: #666;
    background-color: #ccc;
    padding:5px;
}

.markdown-content hr {
    border-top: 1px solid #ddd;
}

.markdown-content a {
    font-weight: bold;
}
